

<div class="c-1 _container">
  <div class="c-2">
    <h1>ОПЛАТА & ДОСТАВКА</h1>

    <h2>ОПЛАТА ЗАКАЗА</h2>

    <p>
      Наш интернет-магазин предполагает оплату заказов только по факту доставки
      товара
    </p>

    <h2>ОФОРМЛЕНИЕ ЗАКАЗА</h2>
    <div>
      <div class="primari-tel">
        <h3>Просто позвонив Нам</h3>
        <p>
          Вы можете самостоятельно позвонить нам по любому из этих номеров
          +7-928-036-10-55 назвать менеджеру код модели, получить исчерпывающую
          информацию о товаре и оформить заказ. Сразу же Вы можете указать
          оператору удобный способ оплаты, способ и время доставки.
        </p>
      </div>
      <h3>Оформить заказ на сайте</h3>
      <div class="secondori-tel">
        <p>
          1. Для оформления заказа необходимо положить в корзину все
          интересующие вас товары
        </p>
        <p>
          2. Если Вы выбрали и отложили в корзину всё, что хотели купить у нас -
          переходите к оформлению, путем нажатия кнопки «Оформить заказ». Здесь
          Вам будет предложено :
        </p>

        <h4>авторизоваться любым удобным способом</h4>
        <p> -------</p>
        <h4>и заполнить следующие поля:</h4>

        <!--авторизация описать -->
        <ul>
          <li>Имя</li>
          <li>Контактный телефон</li>
          <li>Адресс доставки</li>
          <li>Комментарий к заказу (любые Ваши пожелания)</li>
        </ul>

        <p>
          3. После получения Вашего заказа менеджер интернет-магазина свяжется с
          Вами по телефону для подтверждения заказа.
        </p>
        <p>
          4. Если комплектация заказа завершена менеджер интернет-магазина
          свяжется с Вами, уточнит адрес, способ оплаты и предоставит информацию
          о стоимости заказа и доставки.
        </p>
        <ul>
          <li>Пн - Пт: с 9:00 до 18:00 (МСК)</li>
          <li>Сб-Вс: с 9:00 до 14:45 (МСК)</li>
        </ul>
      </div>
    </div>
  </div>
</div>
