<div class="card">
  <div class="card-body">
      <h1 class="card-title">Забыли Пароль</h1>
      <div class="alert alert-danger" role="alert" *ngIf="_errorMgs?.length">

        <ul>
          <li *ngFor="let error of _errorMgs">
            {{ error }}
          </li>
        </ul>

      </div>
      <div *ngIf="showSuccess" class="alert alert-success" role="alert">
          {{successMessage}}
      </div>
      <form [formGroup]="forgotPasswordForm" autocomplete="off" novalidate (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
          <div class="form-group row">
              <label for="email" >Email:</label>
              <div >
                  <input type="text" id="email" formControlName="email" class="form-control" />
              </div>
              <div >
                  <em *ngIf="validateControl('email') && hasError('email', 'required')">Требуется электронная почта</em>
              </div>
          </div>
          <br>
          <div class="form-group row">
              <div >
                  <button type="submit" class="btn btn-info" [disabled]="!forgotPasswordForm.valid" [disabled]="!_flagButoon"  >Submit</button>
              </div>
          </div>
      </form>
  </div>
