
  <div class="c-1 _container">
    <div class="c-2">
      <h1>ГАРАНТИИ</h1>
      <p>Товар предоставляется как есть -(что видишь то и покупаешь)-без предоставления каких-либо гарантий.</p>
        <p> В случае поломки позвоните нам -мы подумаем как вам помочь.</p>

      <p>   В этом случае нас интересуют следующие вопросы:

        </p>

             <ul>
               <li>Как давно вы покупали товар</li>
               <li>Что сломалось</li>
               <li>Что сломалось -Фото на watsapp
                <button type="button" class="btn btn-link">
                  <a href=" https://wa.me/+79280361055?text=Здравствуйте%20[x-01]%20У%20Меня%20Возникла%20Проблема%20C%20 ">
                <img src="./../../../assets/images/massager_social/Whatsapp_64.png" class="img-social-apps" alt="whatsapp" >
              </a>
                </button>
               </li>
               <li>Предположительная причина поломки</li>
             </ul>
    </div>
  </div>
