@import './../../../styles/manager-styles.scss';

.c-1 {
	padding-top: 5px;

}

h4{
  margin-bottom: 0px;
}

.nav-link {
  padding: 0.5rem 0.2rem;
}

@media (min-width: 768px) {
  .nav-link {
    padding: 0.5rem 1rem;
  }
}
