<div class="_container">
  <h4> Модуль менеджера</h4>
<nav
  class="navbar navbar-light bg-tools "
>
<div class="container-fluid justify-content-center">
  <!-- Links -->
 <span class="nav-item" > <a class="nav-link" routerLink="categoria-n">Категория</a></span>
 <span class="nav-item" > <a class="nav-link" routerLink="katalog-n">Каталог</a></span>
 <span class="nav-item" > <a class="nav-link" routerLink="brand-n">Бренд</a></span>

 <span class="nav-item" > <a class="nav-link" routerLink="color-n">Цвет</a> </span>
 <span class="nav-item" > <a class="nav-link" routerLink='article-n'>Артикул</a></span>
 <span class="nav-item" > <a class="nav-link" routerLink="nomenclature">Номенклатура</a></span>
 <span class="nav-item" > <a class="nav-link" routerLink="info"><img src="../../../assets/icon/info_purple.png" height="24" title="vertion"></a></span>

</div>
</nav>
<div class="c-1">


    <div class="button-size-container">
      <button mat-button color="primary"  (click)="add_Height()" aria-label=" icon button add">
        <mat-icon>add_circle_outline</mat-icon>
      </button>

      <button mat-button color="primary" (click)="minimize_Height()" aria-label="icon button remove">
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
    </div>


  <picture >
    <source srcset="./../../../assets/diagram/db_shema.webp" type="image/webp">
  <img  height={{_height_img}}
  class="rounded mx-auto d-block " src="./../../../assets/diagram/db_shema.png" />
</picture>

</div>
</div>
