<div class="_container">
  <h4> Модуль менеджера</h4>
<nav
  class="navbar navbar-light bg-tools "
>
<div class="container-fluid justify-content-center">
  <!-- Links -->
 <span class="nav-item" > <a class="nav-link" routerLink="katalog">Каталог</a></span>
 <span class="nav-item" > <a class="nav-link" routerLink="material">Материал</a></span>
 <span class="nav-item" > <a class="nav-link" routerLink="categoria">Категория</a></span>

 <span class="nav-item" > <a class="nav-link" routerLink="product-main">Товар</a> </span>
 <span class="nav-item" > <a class="nav-link" routerLink='item-product'>Состав</a></span>
 <span class="nav-item" >   <a class="nav-link" routerLink="nomenclature">Номенклатура</a></span>
 <span class="nav-item" ><a class="nav-link" routerLink="info"><img src="../../../assets/icon/info_purple.png" height="24" title="vertion"></a></span>

</div>
</nav>
<div class="c-1">

  <picture >
    <source srcset="./../../../assets/diagram/db_shema.webp" type="image/webp">
  <img  height="300"
  class="rounded mx-auto d-block " src="./../../../assets/diagram/db_shema.png" />
</picture>

</div>
</div>
