//---------------------------------------------------
@import "../../../styles/variables";

$bg-color: $bg-header-color;  // #284074;
//$bg-footer-color: #f05e25;  // #445477;
//$color-logo: #ffbd35;
$nav-color: $c5;
$color-hover: #dfe6e7;
._container {
  min-height: 80px;
  padding: 0;
  display: flex;
  background-color: $bg-color;
  justify-content: space-between;
}


.col_inner {
  display: flex;
}

.nav_link {
  display: flex;
  align-items: center;
  color: $nav-color;
  text-decoration: none;  // test host!!!
  background-color: $bg-color;
  &:hover {
    color: $color-hover;
  }
}
.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button{
  display: flex;
  justify-content: center;
}
.logo-img{
  border-radius: 50%;
  vertical-align: middle ;
}
.logo_inner-img {
  // position: relative;
  height: 3.5rem;
  // width: 70px;
  display: flex;
  border-radius: 40%;
  vertical-align: middle ;
  margin-left: 0.9rem;
  margin-right: 0.3rem;
}
.logo_inner-name {
  //argin-top: 10px;
  display: none;
  color: $color-logo;
  &:hover {
    color: $color-hover;
  }
}
.logo-position-name{
  display: flex;
  color: $color-logo;
  &:hover {
    color: $color-hover;
  }
}
.logo-column{
  flex-direction: column;
  align-items: center;
}

.menu-lg {
  display: none;

  span {
    padding-left: 1rem;
  }
}
.menu-md {
  display: flex;
  width: 100%;
}
.mobile-nav{
  display: block;
  position: relative;
}
.app-navbar{
  padding-left: 1rem;
    min-width: 10rem;

  background-color:$c5 ; //#fafafa
}
.app-nav-link{
  color: $c3;
  &:hover {
    color: $c6;
  }

}

//-------------------------------
@media (min-width: 450px){
  .logo_inner-name {
    //argin-top: 10px;
    display: flex;

  }
  .logo-position-name{

    display: none;

  }

}

@media (min-width: 960px) {
  .menu-lg {
    display: flex;
  }
  .menu-md {
    display: none;
  }
  ._container {
    padding: 0 20px;
  }
}
