<p>brand-item works!</p>
<div class="_contaner">
  <div *ngIf="!_flag_sendServerData; else elseSendData">
    <!-- begin edit  card ------------------------------------->
    <form #myForm="ngForm" novalidate>
      <div class="item-form">
        <div class="_input-group" *ngIf="_select_brandN">
          <label for="nameKatalog">Название Категории</label> <br />
          <mat-form-field class="_input-name" appearance="fill">
            <mat-label>ID( {{ _select_brandN.id }}) </mat-label>
            <div>
              <input
                matInput
                name="nameKatalog"
                #nameKatalog="ngModel"
                [(ngModel)]="_select_brandN.name"
                required
              />
              <mat-error *ngIf="nameKatalog.invalid"> </mat-error>
            </div>
          </mat-form-field>
        </div>
        <!-------------          SEO -->


        <!-------------- end SEO-->

        <div class="_input-group">
          <label for="typeProduct" class="_label"> Скрыть Бренд</label><br />
          <mat-form-field id="typeProduct" appearance="fill">
            <div *ngIf="_select_brandN">
              <mat-select
                name="hiddenKatalog"
                [(ngModel)]="_select_brandN.hidden"
                #hiddenKatalog="ngModel"
                required
              >
                <mat-option [value]="false">Нет </mat-option>
                <mat-option [value]="true">Да </mat-option>
              </mat-select>
              <mat-error *ngIf="hiddenKatalog.invalid"> </mat-error>
            </div>
          </mat-form-field>
        </div>




       

        <!-----    ----------------- button gurop start           -->
        <div class="btn-group" role="group">
          <button
            mat-flat-button
            [disabled]="myForm.invalid || _flagInvalid"
            color="primary"
            (click)="save()"
          >
            Сохранить
          </button>

          <button
            *ngIf="IsCreateView"
            mat-flat-button
            color="warn"
            [disabled]="_flagInvalid"
            (click)="delete()"
          >
            Удалить
          </button>
          <button
            mat-flat-button
            color="accent"
            [disabled]="_flagInvalid"
            (click)="cancel()"
          >
            Отмена
          </button>
        </div>
      </div>
    </form>
  </div>
  <ng-template #elseSendData>
    <div class="_error" role="alert" *ngIf="_errorMgs?.length || _flagError">
      <ul>
        <li *ngFor="let error of _errorMgs">
          {{ error }}
        </li>
      </ul>
    </div>

    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        [style.width.%]="_progress"
      ></div>
    </div>

    <div class="row" style="text-align: center">

      <p>({{ _progress }})</p>
      <button
      mat-flat-button
      color="accent"

      (click)="undo()"
    >
      Отмена
    </button>
    <button
    mat-flat-button
    color="primary"

    (click)="OK()"
  >
   OK
  </button>

    </div>
  </ng-template>
</div>
