<p>user-profile-edit works!</p>

<div class="container" style="margin: auto;">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12">
      <div class="card">
        <div class="card-header" style="text-align: center;">Профиль</div>
        <div class="card-body">
      <!--Error messages Server output start-->
      <div class="alert alert-danger" role="alert" *ngIf="_errorMgs?.length">


        <ul>
          <li *ngFor="let error of _errorMgs">
            {{ error }}
          </li>
        </ul>

      </div>
      <div class="alert alert-success" role="alert" *ngIf="_successfulSave">
       Ваши Данные Успешно Изменены!
      </div>


       <!--Error messages Server output end-->



       <form ![formGroup]="_form" (ngSubmit)="submitForm()">

        <div class="form-group">
          <label for="name"> Ваше Имя:</label>
          <input type="name" class="form-control" id="name" formControlName="name" [(ngModel)]="_user.name" />
          <div class="alert alert-danger"
                        *ngIf="_form!.controls['name'].invalid && _form!.controls['name'].touched">
                        Некорректное Имя
                    </div>
        </div>

        <div class="form-group">
          <label for="phone"> Телефон:</label>
          <input type="phone" class="form-control" id="phone" formControlName="phone" [(ngModel)]="_user.phone" />
          <div class="alert alert-danger"
                        *ngIf="_form!.controls['phone'].invalid && _form!.controls['phone'].touched">
                        Некорректный телефон
                    </div>
        </div>



        <div class="form-group">
          <label for="email"> Адрес электронной почты:</label>
          <input type="email" class="form-control" id="email" formControlName="email" [(ngModel)]="_user.email" />
          <div class="alert alert-danger"
                        *ngIf="_form!.controls['email'].invalid && _form!.controls['email'].touched">
                        Некорректный email
                    </div>
        </div>

        <div class="form-group">
          <label for="address"> Адрес доставки заказа:</label>
          <input type="address" class="form-control" id="address" formControlName="address" [(ngModel)]="_user.address" />

        </div>

        <div class="form-group">
          <label for="password">Пароль:</label>
          <input type="password" class="form-control" id="password" formControlName="password" [(ngModel)]="_user.password" />
          <div class="alert alert-danger"
                        *ngIf="_form!.controls['password'].invalid && _form!.controls['password'].touched">
                        Некорректный Пароль
                    </div>
        </div>

        <div class="form-group">
          <label for="password_confirmation">Подтверждение пароля:</label>
          <input type="password_confirmation" class="form-control" id="password_confirmation" formControlName="password_confirmation" [(ngModel)]="_user.password" />
          <div class="alert alert-danger"
                        *ngIf="_form!.controls['password_confirmation'].invalid && _form!.controls['password_confirmation'].touched">
                        Пароли не совпадают
                    </div>
        </div>

        <div>
        <button type="submit" [disabled]="_flagButoon" class="btn btn-primary" style="width: 100%;">Сохранить</button>
      </div>
      </form>
      <div >

      </div>
    </div>
  </div>
</div>
</div>
</div>
