<mat-tab-group (selectedIndexChange)="selectedIndexChangeMatTabGroup($event)">
  <mat-tab label="Фото">
    <div class="messages-show" [ngClass]="{ error_show: _flagError }">
      {{ _messagess_show }}
    </div>

    <div class="toolbar-box">
      <img src="{{ SrcImg }}" class="img-disply" />
    </div>
  </mat-tab>
  <!--------------------------------------------------------- -->
  <mat-tab label="Изменить">
    <div class="toolbar-box">
      <div class="messages-show" [ngClass]="{ error_show: _flagError }">
        {{ _messagess_show }}
      </div>
      <div *ngIf="_loading" class="loader">Загрузка...</div>
      <div *ngIf="this._imgManager.FlagError" class="error_show">
        {{ this._imgManager.ErrorMassages }}
      </div>

      <button
        type="file"
        class="btn file_load_show btn-circle"
        (click)="fileInput.click()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-file-earmark"
          viewBox="0 0 16 16"
        >
          <path
            d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"
          />
        </svg>
        <input
          #fileInput
          type="file"
          (change)="onSetFilePhoto($event)"
          style="display: none"
        />
      </button>
      <button class="btn file_load_show btn-circle" (click)="togleShowUrl()">
        URL
      </button>

      <ng-template [ngIf]="_flagShowUrl">


        <input #fileInput type="url" />

        <button
          class="btn file_load_show btn-circle"
          (click)="onSetFileFromUrl(fileInput.value)"
          (click)="togleShowUrl()"
        >
          OK
        </button>
      </ng-template>

      <ng-container *ngTemplateOutlet="toolbarImg"></ng-container>
    </div>
  </mat-tab>
  <mat-tab label="Reset">
    <div class="toolbar-box">
      <button
        id="reset"
        mat-fab
        (click)="resetImage()"
        color="warn"
        aria-label="Сбрость настройки"
      >
        <mat-icon>settings_backup_restore</mat-icon>
      </button>
      <img
        src="{{ this._imgManager.ImgBase64FromUrl }}"
        style="max-width: 500px"
      />
    </div>
  </mat-tab>
</mat-tab-group>
<!---------------------------------------------------->

<div class="img-disply" *ngIf="ShowCroppedTab">
  <image-cropper
    [imageChangedEvent]="_imageChanged"
    [imageBase64]="_imgManager.ImgBase64FromUrl"
    [maintainAspectRatio]="_maintainAspectRatio"
    [aspectRatio]="_aspectRatio"
    [containWithinAspectRatio]="_containWithinAspectRatio"
    [autoCrop]="true"
    [resizeToWidth]="_resizeToWidth"
    [transform]="_transform"
    [canvasRotation]="_canvasRotation"
    format="webp"
    (imageLoaded)="imageLoaded()"
    (imageCropped)="imageCropped($event)"
    (loadImageFailed)="loadImageFailed()"
    (cropperReady)="cropperReady($event)"
  >
  </image-cropper>
</div>

<!---------------------------------------------------->
<ng-template #toolbarImg>
  <div class="toolbarImg-group">
    <div class="zoom">
      <button
        id="zoom"
        class="botton-zoom"
        mat-mini-fab
        (click)="zoomIn()"
        color="accent"
        aria-label="Zoom +"
      >
        <mat-icon>zoom_out_map</mat-icon>
      </button>
      <button
        mat-mini-fab
        class="botton-zoom"
        (click)="zoomOut()"
        color="accent"
        aria-label="Zoom -"
      >
        <mat-icon>zoom_in_map</mat-icon>
      </button>
    </div>
  </div>

  <div class="aspectRatio-group">
    <button
      id="aspectRatio"
      class="botton-Ratio"
      mat-mini-fab
      [ngClass]="{ botton_Ratio_true: _maintainAspectRatio }"
      (click)="toggleMaintainAspectRatio()"
      color="accent"
      aria-label="aspect Ratio main toogle"
    >
      <mat-icon>aspect_ratio</mat-icon>
    </button>

    <button
      class="botton-Ratio"
      mat-mini-fab
      (click)="setAspectRatio()"
      color="accent"
      aria-label="aspect Ratio 4:3"
    >
      {{ _show_aspectRatio }}
    </button>

    <button
      class="botton-Ratio"
      mat-mini-fab
      [ngClass]="{ botton_Ratio_true: _containWithinAspectRatio }"
      (click)="toggleContainWithinAspectRatio()"
      color="accent"
      aria-label="aspect Ratio 1/1"
    >
      <mat-icon>burst_mode</mat-icon>
    </button>
  </div>
  <div class="rotate-group">
    <button
      class="botton-rotate"
      mat-mini-fab
      (click)="flipHorizontal()"
      color="accent"
      aria-label="flip to Horisontal"
    >
      <mat-icon>swap_horiz</mat-icon>
    </button>
    <button
      class="botton-rotate"
      mat-mini-fab
      (click)="flipVertical()"
      color="accent"
      aria-label="flip to vertical"
    >
      <mat-icon>swap_vert</mat-icon>
    </button>
    <button
      class="botton-rotate"
      mat-mini-fab
      (click)="setCanvasRotation()"
      color="accent"
      aria-label="rotate 1=90deg"
    >
      <mat-icon>forward_30</mat-icon>
    </button>
  </div>
  <div class="size-group">
    <label for="sizeToWidth" class="size_show"> ( {{ _resizeToWidth }}) </label>
    <input #sizeToWidth style="width: 3rem" [value]="ResizeToWidth" />
    <button (click)="ResizeToWidth = sizeToWidth.value">ok</button>
    <div style="display: inline-block">
      <span>(original)</span>
      <div class="size_show">
        <span>W-</span>{{ _size_w }} | <span>H-</span>{{ _size_h }}
      </div>
    </div>
    <div style="display: inline-block; margin-left: 1rem" class="size_show">
      <span>w-</span>{{ _cropped_size_w }} | <span>h-</span
      >{{ _cropped_size_h }}
    </div>
  </div>
</ng-template>

<!---------------------------------------------------->
