@import "./../../../styles/manager-styles.scss";

.grid-container-menu {
  display: grid;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  grid-template-columns: 45% auto;
  grid-template-rows: 1fr 1fr;
}


.btn{
  text-decoration: none;
}
.btn:hover{
  text-decoration: underline;
  color: #000;
}


.item-menu-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.item-menu-2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.item-menu-3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
}

@media (min-width: 576px){
  .grid-container-menu {
    grid-template-columns: 35% auto;
  }
}

@media (min-width: 768px) {
  .grid-container-menu {
    grid-template-columns: 25% auto;
  }
}
