@import "../../styles/variables";
._container
{
  height: 100%;
  text-align: center;
  background-image: url('./../../assets/images/not_found.png')  ;
  background-repeat: no-repeat;
  background-size: 400px auto ;
  background-position: center, center;

}
