@import './styles.scss';
//$bg-color:#f1f0f0;

.navigate-route-link{
  color: var(--bs-blue);
  margin-right: 1rem;
  text-decoration: underline;
  cursor: pointer;
}
.navigate
{
  display: flex;
  justify-content: space-between;
}
