@import './styles.scss';

._error{
  color: var(--bs-pink);
}
._main-container {
  min-height: 400px;
}

.bg-tools{
  background-color: #d1e8b6;
}
.bg-tools2
{
  background-color: #eeeff1;
}

.bg-tools3
{
  background-color: #cdb6e8; //	#e8e6b6;//#ffff00; // #e8d4de; //#eeeff1;
}

.bg-test
{
  background-color: #cdb6e8;  //#ffff00; // #e8d4de; //#eeeff1;
  align-self: flex-start;
}


