@import "./../../../styles/content-styles.scss";

.grid-container {
  display: grid;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  grid-template-columns: 1fr;
  grid-column-gap: 1rem;
}

button {
  font-size: 1.2em;
  font-weight: 900;
  color: #fff; // #0c0c0c ;// $color; //
  width: 100%;

  text-transform: uppercase;
  text-align: center;
  opacity: 0.7;
  background-color: #84baf085;

  border: 0.2em solid #fff;
  border-radius: 0.5em;
  margin: 1%;
}
.s1 {
  color: $h-color;
  //  background-color: hsl(0deg 0% 0% / 0%);
  background-color: #f1f0f0;
  border: 0.2em solid $button-border;
  :hover {
    color: #fff;
  }
}
 a{
  cursor: pointer;
  text-decoration:none;
  color: #fff;
 }
button:hover {
  // border: solid  $h-bg-color ; // #e66333;
  opacity: 1;
  color: #fff; //#dedbdb;
  background-color: #84baf085;
}

@media (min-width: 768px) {
  .grid-container {
    display: grid;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 960px) {
    .grid-container {
      display: grid;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      grid-template-columns: 1fr 1fr;
    }
  }
}
