<div class="_container">
  <h2 class="mat-body-2 text-center">Лицевая фурнитура</h2>
  <div class="_card">
    <div class="_carusel">
      <div id="carousel-face-furnitury" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carousel-face-furnitury" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carousel-face-furnitury" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carousel-face-furnitury" data-bs-slide-to="2"
            aria-label="Slide 3"></button>

        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./../../../assets/images/katalog/IMG-face-furnitury_.jpg" class="d-block w-100" alt="Лицевая фурнитура" />
          </div>
          <div class="carousel-item">
            <img src="./../../../assets/images/katalog/IMG-face-furnitury2.jpg" class="d-block w-100" alt="ручки мебель" />
          </div>
          <div class="carousel-item">
            <img src="./../../../assets/images/katalog/IMG-face-furnitury3.jpg" class="d-block w-100" alt="Ручки металл" />
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-face-furnitury"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-face-furnitury"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Следующий</span>
        </button>
      </div>
    </div>
  </div>
</div>
