<p>opt-nomenclature works!</p>
<div class="navigate">
  <div class="navigate-route" ><span class="navigate-route-hiden"> категории>каталог</span>>номенклатура </div>
  <div><h4> {{  _katalogN_name }}</h4></div>
  <div>
    <a  class="navigate-route-link" (click)="onBackInNavBar()" >назад</a>
  </div>
</div>
<div style="display: flex;width: 100%;justify-content: flex-end;">
  <app-filter-n [_articles]="_articles" [_brands]="_brands" [_colors]="_colors" [_oldNomenclatures]="_nomenclatures"
    (_onFilterNomenclatureChange)="onFilterNomenclatureChange($event)"></app-filter-n>
  <button  mat-mini-fab color="accent" (click)="onChangeViewRender()"><mat-icon>apps</mat-icon></button>
  </div>
  <div [ngSwitch]="_flagViewState">

    <ng-template name="ImgView" ngSwitchDefault>

      <div class="grid-img-view-container">
        <ng-template ngFor let-nomenclature [ngForOf]="_viewNomenclatrues" >
          <div (click)="changeNomenclature(nomenclature)" >
            <!---    start -->

            <div   class="img_block-img-view" >
              <img class="img_block" src="{{ ImgObj(nomenclature) }}" />
              <div style="vertical-align:text-bottom; text-align: center;">Ц:{{nomenclature.price}} </div>

            </div>



            <!--   endt -->
          </div>
        </ng-template>
      </div>
    </ng-template>

    <ng-template name="TableView"   ngSwitchCase="2" >
      <!--  start Table View -->
      <div class="grid-sub-container-ms grid-sub-container">
        <div>Name</div>
        <div>Article</div>
        <div>Brand</div>
        <div>Color</div>
        <div>Price</div>
        <div class="hiden-description">descripstion</div>
        <div>images</div>

        <!-- start model view-->
        <ng-template ngFor let-nomenclature [ngForOf]="_viewNomenclatrues" let-i="index">
          <div [ngClass]="{ 'row-grid': i % 2 == 0 }" (click)="changeNomenclature(nomenclature)">
            {{ nomenclature.name }}
          </div>
          <div [ngClass]="{ 'row-grid': i % 2 == 0 }" (click)="changeNomenclature(nomenclature)">
            {{ nomenclature.articleName }}
          </div>
          <div [ngClass]="{ 'row-grid': i % 2 == 0 }" (click)="changeNomenclature(nomenclature)">
            {{ nomenclature.brandName }}
          </div>
          <div [ngClass]="{ 'row-grid': i % 2 == 0 }" (click)="changeNomenclature(nomenclature)">
            {{ nomenclature.colorName }}
          </div>


          <div [ngClass]="{ 'row-grid': i % 2 == 0 }" (click)="changeNomenclature(nomenclature)">
            {{ nomenclature.price }}
          </div>
          <div class="hiden-description" [ngClass]="{ 'row-grid': i % 2 == 0 }"
            (click)="changeNomenclature(nomenclature)">
            {{ nomenclature.description }}
          </div>

          <div [ngClass]="{ 'row-grid': i % 2 == 0 }" *ngIf="nomenclature.guid">
            <!---    start -->

            <div class="img_block-table"  >
              <img height="38" src="{{ ImgObj(nomenclature) }}" />

            </div>


            <!--   endt -->
          </div>

          <!-- end  model view-->
        </ng-template>
      </div>
    </ng-template>


    <ng-template name="ItemView"   ngSwitchCase="9" >

      <app-nomenclature-item
      [_nomenclature]="_select_nomenclature"
      (_onChangeBack)="onChangeDefaultView()"

      ></app-nomenclature-item>

    </ng-template>



  </div>

  <!----------------- create end-->


