

<div class="container-fluid _container">

  <div class="navigate">
    <div class="navigate-route" ><span class="navigate-route-hiden"> категории-опт</span>>каталог-опт</div>
    <div><h4>ОПТ: {{  _categoriaN_name }}</h4></div>
    <div>
      <a  class="navigate-route-link" (click)="onBackInNavBar()" >назад</a>
    </div>
  </div>


  <div class="grid-container">
    <div *ngFor="let item of _katalogNs">
      <div *ngIf="!item.hidden">


          <button
            class="btn btn-outline-info"

            [routerLink]="['/content/opt/optkatalog', item.id]"
            [queryParams]="{ katalog: item.name }"
          >
            {{ item.name }}
          </button>

      </div>
    </div>
  </div>
</div>
