@import "./../../../styles/variables";
//#66757f;

._container {
  min-height: 400px;
  background-color: $bg-color;
  color: $color;
}
._container_grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

}

.welcome {
  display: flex;
  h1 {
    margin-left: auto;
    margin-right: auto;
    color: $h-color;
    margin-top: 10px;
  }
}

h4 {
  background-color: $h-bg-color; // salmon;
  // text-align: center;
  padding-left: 1rem;
}
@media (min-width: 450px) {
  ._container_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
  }
}

@media (min-width: 960px) {
  .body {
    max-width: 52rem;
    margin-left: auto;
    margin-right: auto;
  }
}
