
<div class="_container">
  <div class="body">
    <div class="welcome mat-h1">
      <h1>Добро пожаловать</h1>
    </div>

    <div class="_container_grid">

        <button routerLink='katalog/fn-furnitury' class="btn btn-outline-info">Функциональная фурнитура</button>

        <button  routerLink='katalog/face-furnitury' class="btn btn-outline-info">Лицевая фурнитура</button>


        <button  routerLink='katalog/kitchen-sink' class="btn btn-outline-info">Кухонные мойки</button>

        <button routerLink='katalog/input-texnik'  class="btn btn-outline-info">Встраиваемая техника</button>

        <button routerLink='katalog/kitchen-tabletop' class="btn btn-outline-info">Столешницы</button>
        <button routerLink='katalog/pcv-edge' class="btn btn-outline-info">Кромка пвх</button>


    </div>

  </div>
</div>
