<div class="card" style="width: 18rem;margin-left: auto;margin-right: auto;">
  <div *ngIf="!_flagShowQRcode ;else showQR">

  <div class="card-header">
    <div style="display:flex;justify-content:space-between ;">
        <button type="button" class="btn btn-link">
          <a href=" https://wa.me/+79280361055?text=Здравствуйте%20(xf-01)%20Меня%20интересует%20информация%20о%20 ">
        <img src="/assets/images/massager_social/Whatsapp_64.png" class="img-social-apps" alt="whatsapp" >
      </a>
        </button>
        <button class="btn btn-link" (click)="copyLink()" >copy link</button>
      </div>

    <div> ID :
      <span *ngIf="_nomenclature">{{_nomenclature.id}} </span>
    </div>
    <div>
      Название: <br>
      {{FullName}}

    </div>
  </div>
  <img src="{{ ImgObj() }}" class="card-img-top" alt="{{_nomenclature?.name}}">
  <div class="card-body">
    <h5 class="card-title">Описание товара</h5>
    <p class="card-text">
      {{_nomenclature?.description}}
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Артикул : {{_nomenclature?.articleName}} </li>
    <li class="list-group-item">Цвет : {{_nomenclature?.colorName}} </li>
    <li class="list-group-item">Бренд :{{_nomenclature?.brandName}}</li>
    <li class="list-group-item">Цена : <span *ngIf="_nomenclature"> {{ _nomenclature.price * (_nomenclature.markup /
        100) + _nomenclature.price}}</span></li>
  </ul>
</div>
  <div class="card-body" style="display:flex;justify-content:space-between ;">

    <a (click)="onBack()" class="card-link">Назад</a>
    <a (click)="onToggle()" class="card-link">QR Code</a>
  </div>

</div>

<ng-template #showQR>
  <app-qr-code
  [_katalogURL]="KatalogURL"
  [_nomenclatureURL]="NomenclatureURL"
  [_fullName]="FullName"
  [_katalog_name]="_katalog_name"

  >
  </app-qr-code>
</ng-template>

