

<div class="container-fluid _container">
  <h4 class="_h4" >Оптовая Цена</h4>
  <div class="grid-container"  >

    <div *ngFor="let item of _categoriaNs"   >
      <div *ngIf="!item.hidden">
      <div *ngIf="!item.flag_link; else elseLink ">
    <button   class="btn btn-outline-info s1" (click)="onSharedVarSet(item)" [ngClass]="{s1: flagStyle}" [routerLink]="['/content/opt',item.id]" [queryParams]="{'katalog':item.name}"  >

       {{ item.name }}</button>

      </div>
    </div>
      <!------------------------------------------------- start ng-template-1  -->
      <ng-template #elseLink>

        <div *ngIf="!item.flag_href; else else_href " >
          <button   class="btn btn-outline-info s1"  (click)="onSharedVarSet(item)" [ngClass]="{s1: flagStyle}" [routerLink]="item.link"  >

            {{ item.name }}</button>

        </div>
       <!-------------------- start ng-template-2 -->
        <ng-template #else_href>
          <a  href="{{item.link}}" >
        <button   class="btn btn-outline-info s1" [ngClass]="{s1: flagStyle}"  >

       {{ item.name }}</button></a>
      </ng-template>

      </ng-template>
      <!--------------------- end ng-templage-1  -->
    </div>
  </div>
</div>
<!--     22.04.20              -->

