
.grid-sub-container{
  display: grid;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  grid-template-columns: 3% 15%  7% auto 10% ;
  grid-auto-rows: max-content;
}

.grid-sub-container  div {
 /* background-color: rgba(255, 255, 255, 0.8);*/
  border: 1px solid black;
  text-align: center;

}

.active{
  background-color: hotpink;
}

.row-grid{background-color:lightgoldenrodyellow;}

@media (max-width: 768px) {



  .grid-sub-container-ms{
    display: grid;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    grid-template-columns: 10% auto  20% 20% ;
    grid-auto-rows: max-content;
  }

  .grid-sub-container-ms  div {

    border: 1px solid black;
    text-align: center;

  }

  .hiden-description {
    display: none;
  }
}
